%h3
  = link_to @hop.user_name(current_user), @hop.user
  hopped
  = link_to @hop.brewery.name, @hop.brewery
  %small
    = time_ago_in_words @hop.created_at
    ago

.hop-container.row
  - if @hop.image? || @hop.message?
    .col-sm-7
      - if @hop.image?
        %p= image_tag @hop.image_url(:thumb), class:'img-rounded'
      - if @hop.message?
        = simple_format %Q{"#{@hop.message}"}, {class:"lead hop-message"}

  .col-sm-5
    = render partial: 'hops/friend_hops_at_brewery', locals: { brewery:@hop.brewery }
    = render partial: 'breweries/nearbys', locals: { brewery:@hop.brewery }

