:coffee
  jQuery ->
    selector = '#map'
    center =
      latitude: '32.85'
      longitude: '-117.075'
    map = new Map selector, center, 10
    breweries = jQuery(selector).data 'breweries'
    for brewery in breweries
      if brewery.address
        location =
          latitude: brewery.latitude
          longitude: brewery.longitude
        map.addMarker location, brewery.name

.jumbotron
  .img-wall.pull-right.img-thumbnail
    - for brewery in Brewery.all
      = link_to brewery do
        = image_tag (brewery.image_url(:wall)||'http://placehold.it/30x30'), class: 'pull-left tip-on-hover', :'data-toggle' => 'tooltip', title:brewery.name
  %h1 SD Brew Hop
  %p.lead
    Track the breweries you've visited in San Diego! Can you
    %strong hop
    them all?
  %p
    According to our records, there are currently
    = link_to pluralize(Brewery.count, 'breweries'), breweries_path
    in San Diego County. We wanted to create a way for people to keep
    track of the ones they have been to and get suggestions for new
    ones to visit.
  %p
    Also, with over 30 more breweries currently in the process of
    opening, we wanted to provide a place to keep track of the
    ever-changing list of breweries in San Diego county.
  %p
    - if current_user
      = link_to 'View the Breweries!', breweries_path, class: "btn btn-primary btn-lg btn-block", role: "button"
    - else
      = link_to 'Sign in with Facebook to get started!', 'auth/facebook', class: "btn btn-primary btn-lg btn-block", role: "button"

  #home-map.img-thumbnail{data: {breweries:Brewery.all.to_json}}

