:coffee
  jQuery ->
    selector = '#map'
    canvas = jQuery selector
    location =
      latitude: canvas.data 'latitude'
      longitude: canvas.data 'longitude'
    map = new Map selector, location
    map.addMarker location, canvas.data 'name'
.row
  .col-lg-7.col-md-7.col-sm-6
    - if @brewery.image?
      .visible-xs.img-rounded{style:"width:100%;height:175px;overflow:hidden;background:url(#{@brewery.image_url(:thumb)}) center no-repeat"}
    %h1= @brewery.name
    %p.lead= link_to format_url(@brewery.url), @brewery.url
    .row
      .col-xs-6
        = render partial: 'hops/new_modal'
      .col-xs-6
        = simple_format @brewery.address
        %p.hidden-xs= render partial: 'area_and_year'
    %p.visible-xs{style:"margin-top:10px;"}= render partial: 'area_and_year'
    - if @brewery.has_location?
      #map.img-thumbnail.hidden-xs{style: 'width:100%; height:250px', data: {latitude:@brewery.latitude, longitude: @brewery.longitude, name: @brewery.name}}
      .visible-xs= link_to 'View a map of this brewery', "http://maps.google.com/?q=#{@brewery.latitude},#{@brewery.longitude} #{@brewery.name}"

    %p
      = link_to 'Edit', edit_brewery_path(@brewery)
      |
      \#{link_to 'Back', breweries_path}

  .col-lg-5.col-md-5.col-sm-6
    .hidden-xs
      - if @brewery.image?
        = image_tag @brewery.image_url(:thumb), class:'img-rounded', width:'100%'
      = render partial: 'breweries/nearbys', locals: { brewery:@brewery }
