<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @brewery.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @brewery.location %>
</p>

<p>
  <strong>Year opened:</strong>
  <%= @brewery.year_opened %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
