!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title SD Brew Hop
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    / Wrap all page content here
    #wrap
      = render partial: 'layouts/navbar'
      / Begin page content
      .container
        = render partial: 'shared/flash_messages'
        = yield
    #footer
      .container
        .text-muted.credit.row
          .hidden-xs
            .col-lg-4.col-md-4.col-sm-4
              %small &copy; 2013 SD Brew Hop
            .col-lg-4.col-md-4.col-sm-4.center
              %small #{link_to 'Terms', terms_path}
              %small &nbsp;&bull;&nbsp;
              %small #{link_to 'Privacy', privacy_path}
            .col-lg-4.col-md-4.col-sm-4.right-align
              %small P.S. You look great today
          .visible-xs.center
            .col-xs-12
              %small &copy; 2013 SD Brew Hop
            .col-xs-12
              %small #{link_to 'Terms', terms_path}
              %small &nbsp;&bull;&nbsp;
              %small #{link_to 'Privacy', privacy_path}
            .col-xs-12
              %small P.S. You look great today

